<!DOCTYPE html>
<html>
<head>
	<title>SPOT - Search Results</title>

<script>
	if(document.getElementById('dogs_OK').checked) {
	} else(document.getElementById('NO_dogs').checked) {
	};

	var checked = checked === true;
</script>

</head>
<body>
	<div id="logo2">
		<a href="/"><img src="http://i.imgur.com/7Je67an.jpg"></a>	
	</div>
	<form action="/results" method="GET">
		<input type="text" name="business" placeholder="business name or type">
		<input type="text" name="location" placeholder="location">
		<button>Search</button>
	</form>
	<% if (user) { %>
    	Logged in as <%= user.firstName %><br>
    	<a href="/logout">LOG OUT</a>
	<% } else { %>
	    <div>
	    	<a href="/login">LOG IN</a>
	    </div>
	    <div>
	    	<a href="/signup">SIGN UP</a>
	    </div>
  	<% } %>
	<h2>Search Results</h2>
	    <% for (var yelpId in locations) { %>
	    	<% var location = locations[yelpId] %>
		<div>
			<h3><%= location.name %></h3>
    	</div>
    	<div>
    		<div>
    			<img src="<%= location.image_url %>"></a>
    		</div>
    		<div>
    			<b>Phone Number:</b> <%= location.phone %>
    		</div>
    		<div>
				<b>Address:</b><br>
				<% if (location.friendly) { %> 
					<div>
						<b>Dog Friendly</b>
					</div>
				<% } %>
				<%= location.location.address %><br>
				<%= location.location.city %>, <%= location.location.state_code %> <%= location.location.postal_code %><br>
				<%= location.location.country_code %>
	    	</div>
	    	<div>
				<b>Neighborhood(s):</b> <%= location.location.neighborhoods %>
	    	</div>
	    	<div>
	    		<b>Categories:</b> <%= location.categories %>
	    	</div>
  			<form name="dogfriendly" action="/results/<%= location.id %>" method="post">
				<div>Dogs OK</div>
				<div>
					<input type="radio" name="dogs" id="dogs_OK" value="true"/>
				</div>
				<div>NO Dogs Allowed</div>
				<div>
					<input type="radio" name="dogs" id="NO_dogs" value="false" />
				</div>
				<button>Save</button>
			</form> 

    	</div>
   <% } %>
	<nav>
		<a href="">HOME</a>
		<a href="">ABOUT SPOT</a>
		<a href="">CONTACT US</a>
		<a href="">HOW TO SUBMIT</a>
	</nav>
</body>
</html>