<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SPOT - Search Results</title>
	<link rel="stylesheet" href="/stylesheets//bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="stylesheets/main.css">
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="star_rating.js"></script>
	<script type="text/javascript" src="scrollup.js"></script>
	<script type="text/javascript" src="scrolldown.js"></script>
	<script type="text/javascript">
		if(document.getElementById('dogs_OK').checked) {
			} else(document.getElementById('NO_dogs').checked) {
		};

		var checked = checked === true;
	</script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
<body>
	
	<div class="fixed-bar animated-quick">
		<div class="container" id="navwidth">
			<div class="row">
				<nav class="sixcol">
					<ul id="menu-main-navigation" class="menu">
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-0">
							<a href="/">HOME</a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1">
        					<a href="/about">ABOUT</a>
        				</li>
        				<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-2">
        					<a href="/contact">CONTACT</a>
	        			</li>
	        			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3">
	        				<a href="/howto">HOW TO SUBMIT</a>
	       				 </li>
						<% if (user) { %>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4" id="logged">
						   		<a class="small">Hello <%= user.firstName %>!</a>
						   		<a href="/logout">LOGOUT</a>
						    </li>
						<% } else { %>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5">
						    	<a href="/login">LOGIN</a>
						    </li>
						 	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6">
						    	<a href="/signup">SIGNUP</a>
						    </li>
					  	<% } %>
					  	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7">
					  		<form class="form-inline" action="/results" method="GET">

								<div class="form-group">
									<input type="text" name="business" class="form-control" placeholder="business name or type">
								</div>
								<div class="form-group">
									<input type="text" name="location" class="form-control"  placeholder="location">
								</div>
								<button class="btn btn-inverse">SEARCH</button>
							</form>
						</li>
					</ul>
				</nav>	
				<div class="fourcol last">
					<a href="#" id="back-to-top" title="Back To Top">Back To Top</a>
				</div>				
			</div>
		</div>
	</div>

	<header class="splash" id="results">
		<div class="container" id="page">
			<div class="col-lg-6 col-lg-offset-3 text-center">
		    	<nav class="navbar transparent" role="navigation">
			    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1">
			        		<a href="/about">ABOUT</a>
			        	</li>
			        	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2">
			        		<a href="javascript:scrollToBottom()">CONTACT</a>
				        </li>
				        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3">
				        	<a href="/howto">HOW TO SUBMIT</a>
				        </li>
				        |
						<% if (user) { %>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4" id="logged">
						    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hello <%= user.firstName %>!
						    	<a href="/logout">LOGOUT</a>
						    </li>
						<% } else { %>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5">
						    	<a href="/login">LOGIN</a>
						    </li>
						 	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6">
						    	<a href="/signup">SIGNUP</a>
						    </li>
					  	<% } %>
		 			</div>
		 		</nav>
		 	</div>

			<div class="text-center" id="logo">
				<a href="/">SPOT</a>
			</div>

		 	<div class="row"></div>

			<div class="container">
				<h2>Search Results</h2>
				    <ol>
					    <% for (var yelpId in locations) { %>
					    	<% var location = locations[yelpId] %>
						<div>
							<h4><li><a href="<%= location.url %>" target="_"><%= location.name %></a></h4>
				    	</div>
				    	<div>
				    		<div id="yelpimg">
				    			<img src="<%= location.image_url %>"></a>
				    		</div>
				    		<div>
				    			<b><u>Phone Number</u>:</b> <%= location.phone %>
				    		</div>
				    		<div>
								<b><u>Address</u>:</b><br>
								<%= location.location.address %><br>
								<%= location.location.city %>, <%= location.location.state_code %> <%= location.location.postal_code %><br>
								<%= location.location.country_code %>
								<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= location.location.coordinate.latitude %>,<%= location.location.coordinate.longitude %>&zoom=16&size=200x200">
					    	</div>
					    	<div>
								<b><u>Neighborhood(s)</u>:</b> <%= location.location.neighborhoods %>
					    	</div>
					    	<div>
					    		<b><u>Categories</u>:</b> <%= location.categories %>
					    	</div>
					    	<div>
					    		<b><u>Dog Friendly?</u></b>
					    		<% if (location.friendly) { %> <img id="okicon" src="http://i.imgur.com/Zo2AnGp.png"/>
								<% } %>
							</div>
							<br>
								<% if (user) { %>
								<form name="dogfriendly" action="/results/<%= location.id %>" method="post">
						    		<label class="radio-inline">
										<input type="radio" name="dogs" id="dogs_OK" value="true"/> <div>YES</div>
									</label>
									<label class="radio-inline">
										<input type="radio" name="dogs" id="NO_dogs" value="false"/> <div>NO</div>
									</label>
									<br>
									<br>
									<button class="btn btn-default-inverse" type="submit">Save</button>
								</form>

								<input type="number" class="rating" id="test" name="test" data-min="1" data-max="5" value="0">

								<% } else { %>
									<div>
						    			<a href="/login">LOG IN</a> to see if it's dog friendly.
						    		</div>
								<% } %>	
					    </div>
					   	<% } %>
							</li>
					</ol>
			   		<br>
			</div>
		</div>
	</header>

	<footer>
        <div class="footer-inner">
            <div class="container">
            	<div class="contact">
            		<span class="site-address">SPOT, 123 5th Avenue, San Francisco, CA 54321</span>
            		<span rel="tel" class="site-phone">415-555-1212</span>
            		<a href="mailto:spot@spot.com" class="site-email">spot@spot.com</a></div>
          		</div>
	        </div>

	        <div class="container" id="spothq">
		    	<div id="map"></div>
			</div>

	        <div class="container">
          		<div class="row small"></div>
					<div class="twelvecol">
						<small>Copyright &copy; 2015, Karen Chu</small>
					</div>
			</div>
		</div>
    </footer>

	<script>
		L.mapbox.accessToken = 'pk.eyJ1Ijoib2NlYW5jaGlsZDYzNyIsImEiOiJxVkhhRTg4In0.Tt6s5ijiS4a3ElrxYg8sSg';
		var map = L.mapbox.map('map', 'oceanchild637.l6bgnkcj')
	</script>

</body>
</html>